{% load i18n %}

<div class="openedxscorm_block">
    {% if index_page_url %}
    <h3 class="hd hd-3 problem-header">{{scorm_xblock.display_name}}</h3>
    {% if scorm_xblock.has_score %}
    <div class="problem-progress">
        <span class="grade">{{ grade|floatformat }}</span>/{{ scorm_xblock.weight|floatformat }} {% trans "points" %}
        (<span class="completion_status">{% trans completion_status %}</span>)
    </div>
    {% endif %}

    <div class="js-scorm-block">
        <div class="scorm_button">
            <button class="js-button-full-screen full-screen-on">
                <i class="fas fa fa-expand"></i>
                {% trans "Fullscreen" %}
            </button>
            <button class="js-button-full-screen full-screen-off">
                <i class="fas fa fa-compress"></i>
                {% trans "Exit fullscreen" %}
            </button>
        </div>

        <iframe class="scorm_object" src="{{ index_page_url }}" width="{% if scorm_xblock.width %}{{ scorm_xblock.width }}{% else %}100%{% endif %}" {% if scorm_xblock.height %}height="{{ scorm_xblock.height }}" {% endif %}></iframe>
    </div>
    {% elif message %}
    <p>{{ message }}</p>
    {% endif %}
</div>