/* CSS for ScormXBlock */
.openedxscorm_block .scorm_object {
    border: none;
}

.openedxscorm_block span.setting-input-file {
    padding-left: 25%;
    margin-left: 14px;
    padding-top: 5px;
}

.openedxscorm_block span.setting-input-file span {
    font-weight: bold;
}

.openedxscorm_block .full-screen-scorm  .scorm_object {
    position: fixed;
    border: none;
    overflow: hidden;
    top: 75px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 65px);
    z-index: 10000;
}

.openedxscorm_block .full-screen-scorm {
    position: fixed;
    border: none;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #ffffff;
}

.openedxscorm_block .scorm_button {
    padding-bottom: 20px;
}

.openedxscorm_block .scorm_button button {
	color: #e41d37;
	border: 1px solid #e41d37;
	background-color: transparent;
	min-width: 8em;
	padding: .25rem .75rem;
	line-height: 1.7143;
	border-radius: 0;
	font-weight: 600;
}

.openedxscorm_block .scorm_button button:hover {
	color: #fff;
	background-color: #e41d37;
	border-color: #e41d37;
}

.scorm_button button:focus {
	outline: none
}

.openedxscorm_block .scorm_button .full-screen-on:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath fill='currentColor' d='M0 180V56c0-13.3 10.7-24 24-24h124c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H64v84c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12zM288 44v40c0 6.6 5.4 12 12 12h84v84c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12V56c0-13.3-10.7-24-24-24H300c-6.6 0-12 5.4-12 12zm148 276h-40c-6.6 0-12 5.4-12 12v84h-84c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h124c13.3 0 24-10.7 24-24V332c0-6.6-5.4-12-12-12zM160 468v-40c0-6.6-5.4-12-12-12H64v-84c0-6.6-5.4-12-12-12H12c-6.6 0-12 5.4-12 12v124c0 13.3 10.7 24 24 24h124c6.6 0 12-5.4 12-12z'/%3E%3C/svg%3E");
}


.openedxscorm_block .scorm_button .full-screen-off:before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commerc%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3C!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3E%3Cstyle%3Esvg%7Bfill:'currentColor'%7D%3C/style%3E%3Cpath d='M436 192H312c-13.3 0-24-10.7-24-24V44c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v84h84c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm-276-24V44c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v84H12c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h124c13.3 0 24-10.7 24-24zm0 300V344c0-13.3-10.7-24-24-24H12c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h84v84c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-84h84c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12H312c-13.3 0-24 10.7-24 24v124c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12z'/%3E%3C/svg%3Eial License) Copyright 2023 Fonticons, Inc. --%3E%3Cpath fill='currentColor' d='M0 180V56c0-13.3 10.7-24 24-24h124c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H64v84c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12zM288 44v40c0 6.6 5.4 12 12 12h84v84c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12V56c0-13.3-10.7-24-24-24H300c-6.6 0-12 5.4-12 12zm148 276h-40c-6.6 0-12 5.4-12 12v84h-84c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h124c13.3 0 24-10.7 24-24V332c0-6.6-5.4-12-12-12zM160 468v-40c0-6.6-5.4-12-12-12H64v-84c0-6.6-5.4-12-12-12H12c-6.6 0-12 5.4-12 12v124c0 13.3 10.7 24 24 24h124c6.6 0 12-5.4 12-12z'/%3E%3C/svg%3E");
}

.openedxscorm_block .full-screen-scorm .scorm_button {
    padding: 20px;
}

.openedxscorm_block .full-screen-off {
    display: none;
}

.openedxscorm_block .full-screen-scorm .full-screen-off {
    display: block;
}

.openedxscorm_block .full-screen-scorm .full-screen-on {
    display: none;
}

.openedxscorm_block .problem-progress {
    font-size: .875rem;
    font-style: italic;
    margin: 0;
    padding: 0 0 1rem;
}    